@media screen and (min-width: 701px) {

    .calculator {
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background-color: #fff;
        box-shadow: 10px 10px 5px 0px rgba(46, 46, 46, 0.75);
    }

}