/* général */

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  /* body */

  body {
    background-color: wheat;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  /* calculatrice */

  .calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background-color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(46, 46, 46, 0.75);
  }

  /* écran de la calculatrice */

  .calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }

  /* bouttons */

  button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    font-size: 2rem;
    color: #333;
  }
  
  .operand, .operator {
    color: #337cac;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }

  /* hover des bouttons */

  button:hover {
      background-color: #eaeaea;
    }

  .all-clear:hover {
      background-color: #f17377;
    }

  .equal-sign:hover {
    background-color: #4e9ed4;
  }

  /* grid layout */

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 20px;
  }

  

  